

<div class="text-center loginscreen  animated fadeInDown">
<div>
<div> <h1 class="logo-name">Panopticon</h1> </div>
<h3 style="margin-top:50px">Welcome to Panopticon</h3>
<p>
    As a work of architecture, the panopticon allows a watchman to observe occupants without the occupants knowing whether or not they are being watched. 
    <br> As a metaphor, the panopticon was commandeered in the latter half of the 20th century as a way to trace the surveillance tendencies of disciplinarian societies. 
</p>
<p>Login in. To see it in action.</p>


<div class="middle-box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name) ) do |f| %>
    <div class="form-group">
      <%= f.label :name, "名前" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:'form-control', required:"" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', required:"" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:'form-control', required:"" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'ログインを記憶' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "管理者登録", class:'btn btn-success' %>
    </div>

    <%= link_to new_admin_session_path do %>
      <button class="btn btn-primary" style="margin-top: 10px" >ログイン画面へ</button>        
    <% end %>
  <% end %>
  </div>

<%#  <%= render "devise/shared/links" %>  


</div>
</div>
