<div class="wrapper wrapper-content animated fadeInRight">
  <div class='row'>
    <div class="col-lg-12">


    <%= form_with model: @user,method: :post, :action=>"create", :controller=>"users", local: true, class:"form-signin", name:"form_signin"  do |f|  %>
    <div class="ibox float-e-margins" style="font-size:13px;color:#676a6c!important;">
      <div class="ibox-title">
        <div class="col-sm-10">
          <h5>社員を追加</h5>
        </div>
      </div>

      <div class="ibox-content">
        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              <label for="user_account_name">名前</label>
              <span class="label m-l-sm label-warning">必須</span>
            </div>
            <div class="col-sm-8">
              <!-- railsのformヘルパーやと、既存のデータがある場合は、valueで設定しなくても、データベースのカラムを指定してたら勝手に入れてくれる。 -->
              <%= f.text_field :name, {id:"name", placeholder:"例）岡本　太郎", class:"form-control", name:"name", required:'required'} %>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed my-4"></div>

        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              <label for="user_account_furigana">ふりがな</label>
            </div>
            <div class="col-sm-8">
              <!-- railsのformヘルパーやと、既存おデータがある場合は、valueで設定しなくても、データベースのカラムを指定してたら勝手に入れてくれる。 -->
              <%= f.text_field :furigana, {id:"furigana", placeholder:"例）おかもと　たろう", class:"form-control", name:"furigana"} %>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed my-4"></div>

        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              <label for="user_account_tel">電話番号</label>
              <span class="label m-l-sm label-warning">必須</span>
            </div>
            <div class="col-sm-8">
              <!-- railsのformヘルパーやと、既存おデータがある場合は、valueで設定しなくても、データベースのカラムを指定してたら勝手に入れてくれる。 -->
              <%= f.telephone_field :tel, {id:"tel", placeholder:"例）09012345678", class:"form-control", name:"tel" ,required:'required'} %>
              <span id="telError">＊電話番号の形式が不正です</span><br>
              <% if @user.errors.messages[:tel].present? %>
              <span style="color:red;">＊既に使われている電話番号です</span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed my-4"></div>

        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              <label for="mail">メールアドレス</label>
              <span class="label m-l-sm label-warning">必須</span>
            </div>
            <div class="col-sm-8">
              <!-- railsのformヘルパーやと、既存のデータがある場合は、valueで設定しなくても、データベースのカラムを指定してたら勝手に入れてくれる。 -->
              <%= f.email_field :mail, {id:"mail", placeholder:"例）info@datora.jp", class:"form-control", name:"mail", required:'required'} %>
              <span id="mailError">＊メールアドレスの形式が不正です</span><br>
              <% if @user.errors.messages[:mail].present? %>
              <span style="color:red;">＊既に使われているメールアドレスです</span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed my-4"></div>

        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              <label for="user_account_type_sex">性別</label>
              <span class="label m-l-sm label-warning">必須</span>
            </div>
            <div class="col-sm-8">
              <label> <%= f.radio_button :type_sex, "男", {class:"sex", id:"man", name:"type_sex", required:""} %>男性</label>     <!-- ラジオボタンはどれか一個に「required:""」を入れたらOK -->
              &nbsp; &nbsp; <label> <%= f.radio_button :type_sex, "女", {class:"sex", id:"woman", name:"type_sex"} %>女性</label>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed my-4"></div>

        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              <label for="user_account_birthday">生年月日</label>
            </div>
            <div class="col-sm-8">
            <!-- 「new」アクションやから、@user.yearとかないけど、renderで戻される時は入ってるから、これいる！！！！ -->
              <% if @user.year %>
                <%= f.select :year, [["#{@user.year}年", "#{@user.year}"]], {}, {id: "year", class: "w100", name:"year"} %> 
              <% else  %>
                <%= f.select :year, [], { prompt:"--西暦--"}, {id: "year", class: "w100", name:"year"} %> 
              <% end  %>
              <%= f.select :month, [
                                   ["1月",1],
                                   ["2月",2],
                                   ["3月",3],
                                   ["4月",4],
                                   ["5月",5],
                                   ["6月",6],
                                   ["7月",7],
                                   ["8月",8],
                                   ["9月",9],
                                   ["10月",10],
                                   ["11月",11],
                                   ["12月",12]], {prompt:"-月-"}, {id: "month", class: "w80", name:"month"} %> 
              <% if @user.day %>
                <%= f.select :day, [["#{@user.day}日", "#{@user.day}"]], {}, {id: "day", class: "w80", name:"day"} %> 
              <% else  %>
                <%= f.select :day, [], {prompt:"-日-"}, {id: "day", class: "w80", name:"day"} %> 
              <% end  %>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed my-4"></div>

        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              <label for="user_account_type_career">学歴</label>
              <span class="label m-l-sm label-warning">必須</span>
            </div>
            <div class="col-sm-8">
              <!-- railsのformヘルパーやと、既存のデータがある場合は、valueで設定しなくても、データベースのカラムを指定してたら勝手に入れてくれる。 -->
              <label> <%= f.radio_button :type_career, "中卒", {class:"career", id:"junior", name:"type_career", required:""} %>中学</label>
              &nbsp; &nbsp;
              <label> <%= f.radio_button :type_career, "高卒", {class:"career", id:"high-school", name:"type_career"} %>高校</label>
              &nbsp; &nbsp;
              <label> <%= f.radio_button :type_career, "大卒", {class:"career", id:"university", name:"type_career"} %>大学</label>
              &nbsp; &nbsp;
              <label> <%= f.radio_button :type_career, "学歴無し", {class:"career", id:"no-career", name:"type_career"} %>行ってない</label>
              <br>
              <%= f.text_field :school_name, {id:"school_name", placeholder:"学校名を入力してください", class:"form-control", name:"school_name", required:'required'} %>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed my-4"></div>

        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              <label for="user_account_familyRelation">家族構成</label>
              <span class="label m-l-sm label-warning">1人以上</span>
              <br>
              <button type="button" id="addFamilyRelation" style="background-color:green;" ><font color='white'><b>+</b></font></button>
            </div>
            <div class="col-sm-8">
              <!-- railsのformヘルパーやと、既存のデータがある場合は、valueで設定しなくても、データベースのカラムを指定してたら勝手に入れてくれる。 -->
              <div>
                続柄1：<%= f.text_field :familyRelation, {id:"family_relation", placeholder:"例）父", class:"family zokugara input", name:"familyRelation", required:"required"} %>
                <br class="kai">
                名前1：<%= f.text_field :familyRelationName, {id:"family_name", placeholder:"例）岡本　太郎", class:"family name_zoku input", name:"familyRelationName", required:"required"} %>
                <br>
              </div>
              
              <div class="fr2" >
                続柄2：<%= f.text_field :familyRelation2, {id:"family_relation2", placeholder:"例）父", class:"family zokugara input", name:"familyRelation2"} %>
                <br>
                名前2：<%= f.text_field :familyRelationName2, {id:"family_name2", placeholder:"例）岡本　太郎", class:"family name_zoku input", name:"familyRelationName2"} %>
                <br>
              </div>

              <div class="fr3" >
                続柄3：<%= f.text_field :familyRelation3, {id:"family_relation3", placeholder:"例）父", class:"family zokugara input", name:"familyRelation3"} %>
                <br>
                名前3：<%= f.text_field :familyRelationName3, {id:"family_name3", placeholder:"例）岡本　太郎", class:"family name_zoku input", name:"familyRelation3"} %>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed my-4"></div>

        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              <label for="user_account_joined">入社日</label>
              <span class="label m-l-sm label-warning">必須</span>
            </div>
            <div class="col-sm-8">
            <div style="display:flex">
              <% if @user.joined_year %>
                <%= f.select :joined_year, [["#{@user.joined_year}年", "#{@user.joined_year}"]], {}, {id: "joined_year", class: "w100", name:"joined_year"} %>
              <% else  %>
                <%= f.select :joined_year, [], {prompt:"--西暦--"}, {id: "joined_year", class: "w100", name:"joined_year"} %>
              <% end  %>
              <%= f.select :joined_month, [
                                   ["1月",1],
                                   ["2月",2],
                                   ["3月",3],
                                   ["4月",4],
                                   ["5月",5],
                                   ["6月",6],
                                   ["7月",7],
                                   ["8月",8],
                                   ["9月",9],
                                   ["10月",10],
                                   ["11月",11],
                                   ["12月",12]], {prompt:"-月-"}, {id: "joined_month", class: "w80", name:"joined_month"} %>
              <% if @user.joined_day %>
                <%= f.select :joined_day, [["#{@user.joined_day}日", "#{@user.joined_day}"]], {}, {id: "joined_day", class: "w80", name:"joined_day"} %>
              <% else %>
                <%= f.select :joined_day, [], {prompt:"-日-"}, {id: "joined_day", class: "w80", name:"joined_day"} %>
              <% end  %>
              </div>

            <% if @user.errors.messages[:joined_day].present? || @user.errors.messages[:joined_month].present? || @user.errors.messages[:joined_year].present? %>
              <span style="color:red;">＊入社日を入力してください</span>
            <% end %>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed my-4"></div>

        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              <label for="user_account_position">役職</label>
              <span class="label m-l-sm label-warning">必須</span>
            </div>
            <div class="col-sm-8">
              <!-- railsのformヘルパーやと、既存のデータがある場合は、valueで設定しなくても、データベースのカラムを指定してたら勝手に入れてくれる。 -->
              <%= f.text_field :position, {id:"position", placeholder:"例）開発, 営業, マーケティング等", class:"form-control", name:"position", required:'required'} %>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed my-4"></div>

        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              <label for="user_account_remarks">備考</label>
            </div>
            <div class="col-sm-8">
              <!-- railsのformヘルパーやと、既存おデータがある場合は、valueで設定しなくても、データベースのカラムを指定してたら勝手に入れてくれる。 -->
              <%= f.text_area :remarks, {id:"remarks", class:"form-control", name:"remarks" , rows:'10'} %>
            </div>
          </div>
        </div>




<!--          セレクトボックスのデザインテストしてる！！！！
        <div class="hr-line-dashed my-4"></div>
        <div class="row">
          <div class='form-group'>
            <div class="col-sm-2 control-label">
              テスト<span class="label m-l-sm label-warning">必須</span>
            </div>
            <div class="col-sm-8">
              <%= f.select :joined_year, [["--西暦--"]], {}, {id: "j", class: "w100 cp_ipselect cp_sl04", name:"joineddcd_year", style:"background-color:#abe7db;color:white;"} %>
              <%= f.select :joined_month, [["-月-"],
                                   ["1月",1],
                                   ["2月",2],
                                   ["3月",3],
                                   ["4月",4],
                                   ["5月",5],
                                   ["6月",6],
                                   ["7月",7],
                                   ["8月",8],
                                   ["9月",9],
                                   ["10月",10],
                                   ["11月",11],
                                   ["12月",12]], {}, {id: "joineh", class: "w80 cp_ipselect cp_sl04", name:"joined_mcdsdonth", style:"background-color:#1ab394;color:white;"} %>
              <%= f.select :joined_day, [["-日-"]], {}, {id: "joine", class: "w80 cp_ipselect cp_sl04", name:"joined_sdday", style:"background-color:#1ab394;color:white;"} %>
              <br><span id="joinedError">＊入社日を入力してください</span>
            </div>
          </div>
        </div>
-->












<div class="hr-line-dashed my-4"></div>
     





















        <div class="text-center" style="margin-top:3rem;"> <!-- bootstrapの「mt-5」クラスが効かへんかったから直接書いた -->
          <button type="submit" class="btn btn-primary fas fa-plus-circle" id="finalCheck" >  <font>社員を追加</font> </button>
        </div>
      </div>
    </div>
    <%end%>
    </div>
  </div>
</div>











