<head>
  <meta charset="utf-8">
  <%= javascript_include_tag 'jquery.quicksearch.js', 'data-turbolinks-track': 'reload' %>
  <!-- application.html.erbで読み込んでるのに、なぜか、ここで読み込まなエラーでる！ -->
  <title>jQuery</title>
  </head>
<script>
  $(document).on('turbolinks:load', function() {
    $('input#search').quicksearch('table tbody tr');
  });

  document.addEventListener("turbolinks:load", function(){
    $('input#search').quicksearch('table tbody tr');
  });
</script>

<form action="#">
  <input type="text" name="search" placeholder="ユーザーを検索" id="search" />
</form>




  <table>
    <thead>
      <tr>
        <th><%= sortable 'id', "ID","color:black" %></th>
        <th><%= sortable "name", "名前","color:black" %></th>
        <th><%= sortable "furigana", "ふりがな","color:black" %></th>
        <th><%= sortable "tel", "電話番号","color:black" %></th>
        <th><%= sortable "mail", "メースアドレス","color:black" %></th>
        <th><%= sortable "type_sex", "性別","color:black" %></th>
        <th><%= sortable "year", "生年月日","color:black" %></th>
        <th><%= sortable "type_career", "最終学歴","color:black" %></th>
        <th><%= sortable "school_name", "学校名","color:black" %></th>
        <th><%= sortable "familyRelation", "続柄","color:black" %></th>
        <th><%= sortable "familyRelationName", "家族名","color:black" %></th>
        <th><%= sortable "familyRelation2", "続柄2","color:black" %></th>
        <th><%= sortable "familyRelationName2", "家族名2","color:black" %></th>
        <th><%= sortable "familyRelation3", "続柄3","color:black" %></th>
        <th><%= sortable "familyRelationName3", "家族名","color:black" %></th>
        <th><%= sortable "created_at", "登録日","color:black" %></th>
        <th><%= sortable "updated_at", "更新日","color:black" %></th>
      </tr>
    </thead>
    <!-- IMPORTANT, class="list" have to be at tbody -->
    <tbody class="list">
      <% @users.each do |user| %>
        <tr >
          <td class="idid"> <a href="<%= "/users/#{user.id}" %>"><%= user.id %> </a> </td>
          <td class="name"> <a href="<%= "/users/#{user.id}" %>"> <%= user.name %></a> </td>
          <td class="furigana"> <a href="<%= "/users/#{user.id}" %>"> <%= user.furigana %></a> </td>
          <td class="tel"> <a href="<%= "/users/#{user.id}" %>"> <%= user.tel %> </a> </td>
          <td class="mail"> <a href="<%= "/users/#{user.id}" %>"> <%= user.mail %> </a> </td>
          <td class="sex"> <a href="<%= "/users/#{user.id}" %>"> <%= user.type_sex %> </a> </td>
          <td class="birthday"> <a href="<%= "/users/#{user.id}" %>"> <%= user.year %>/<%= user.month %>/<%= user.day %> </a> </td>
          <td class="career"> <a href="<%= "/users/#{user.id}" %>"> <%= user.type_career%> </a> </td>
          <td class="school"> <a href="<%= "/users/#{user.id}" %>"> <%= user.school_name %> </a> </td>
          <td class="familyRelation"> <a href="<%= "/users/#{user.id}" %>"> <%= user.familyRelation %> </a> </td>
          <td class="familyRelationName"> <a href="<%= "/users/#{user.id}" %>"> <%= user.familyRelationName %> </a> </td>
          <td class="familyRelation2"> <a href="<%= "/users/#{user.id}" %>"> <%= user.familyRelation2 %> </a> </td>
          <td class="familyRelationName2"> <a href="<%= "/users/#{user.id}" %>"> <%= user.familyRelationName2 %> </a> </td>
          <td class="familyRelation3"> <a href="<%= "/users/#{user.id}" %>"> <%= user.familyRelation3 %> </a> </td>
          <td class="familyRelationName3"> <a href="<%= "/users/#{user.id}" %>"> <%= user.familyRelationName3 %> </a> </td>
          <td class="created_at"> <a href="<%= "/users/#{user.id}" %>"> <%= user.created_at.strftime('%Y年%m月%d日') %> </a> </td>
          <td class="updated_at"> <a href="<%= "/users/#{user.id}" %>"> <%= user.updated_at.strftime('%Y年%m月%d日') %> </a> </td>
        </tr>
    <%end%>
    </tbody>
  </table>
