<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%# <meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"> %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Panopticon</title>



    <!-- Main css styles -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "new", media: "all" %>
    <%= stylesheet_link_tag "modal", media: "all" %>
    <%= stylesheet_link_tag 'ui/icheck-1.0.2/skins/square/green', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'icheck.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'buttons', 'data-turbolinks-track': 'reload' %>
    <%# javascript_include_tag 'ui/icheck-1.0.2/icheck.min', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js", 'data-turbolinks-track': 'reload' %>



    <%= csrf_meta_tags %>
  </head>

  <body>
    
      <!-- Wrapper-->
      <div id="wrapper">

          <!-- Navigation 
          <%# if admin_signed_in?%>
            <%# render 'layouts/navigation' %>
          <%# end %>
          -->

          <!-- Page wraper -->
          <!-- ログインしてへんかったら左のバー消す 
          <%# if admin_signed_in? %>
            <div id="page-wrapper" class="gray-bg">
          <%# else %>
            <div id="page-wrapper" class="gray-bg" style="margin:0!important;">
          <%# end %>
          -->

              <!-- Page wrapper -->
              <%= render 'layouts/topnavbar' %>

              <!-- Main view  -->
              <!-- 部分レイアウト（パーシャル）を表示！ layoutフォルダ内に「_header.html.erb」を置く！ -->

            <div data-turbolinks="false">
            <%# binding.pry %>
            <% if notice %>
              <div class="notice notice-info">
                <p><%= notice %><button type="button" class="close" data-dismiss="alert" onclick='closeBtn()'>&times;</button></p>
              </div>
            <% elsif alert %>
            <%# binding.pry %>
              <div class="notice notice-danger">
                <p><%= alert %><button type="button" class="close" data-dismiss="notice" onclick='closeBtn()'>&times;</button></p>
              </div>
            <% end %>
            </div>
              <%= yield %>

              <!-- Footer -->


          </div>
          <!-- End page wrapper-->

      </div>
      <!-- End wrapper-->






    <footer style="background-color:white;padding:10px;">
      <div class="pull-right">
        <a href="/" style="color:#179e83; margin-right:10px"> <b>Panopticon</b> </a>
      </div>
      <div style="text-align:center;color">
          <strong>Copyright</strong> &nbsp; Jeremy Bentham  &copy; 2019
      </div>
    </footer>


  </body>
  </html>
