<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%# <meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"> %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>INSPINIA</title>


    <!-- Main css styles -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "new", media: "all" %>
    <%= stylesheet_link_tag "modal", media: "all" %>
    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.quicksearch', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js", 'data-turbolinks-track': 'reload' %>



    <%= csrf_meta_tags %>
  </head>

  <body>

      <!-- Wrapper-->
      <div id="wrapper">

          <!-- Navigation -->
          <%= render 'layouts/navigation' %>

          <!-- Page wraper -->
          <div id="page-wrapper" class="gray-bg">

              <!-- Page wrapper -->
              <%= render 'layouts/topnavbar' %>

              <!-- Main view  -->
              <!-- 部分レイアウト（パーシャル）を表示！ layoutフォルダ内に「_header.html.erb」を置く！ -->


              <% if notice %>
              aaa
                <div class="alerttt alerttt-info">
                bbb
                  <%= notice %>
                  ccc
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  ddd
                </div>
                eee
              <% elsif alert %>
                <div class="alerttt alerttt-danger">
                  <%= alert %>
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
              <% end %>


              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              
              <%= yield %>

              <!-- Footer -->
              <%= render 'layouts/footer' %>

          </div>
          <!-- End page wrapper-->

      </div>
      <!-- End wrapper-->

  </body>
  </html>
